@import "mixins";

.container {
  max-width: 1170px;
  @apply w-11/12 mx-auto;
}

.section {
  @apply relative overflow-hidden w-full mt-24;

  @include Responsive("MD") {
    @apply mt-40;
  }
}

.flex-center {
  @apply flex justify-center items-center;
}

.link {
  @apply font-bold text-white cursor-pointer;
}

.heading {
  @apply leading-tight font-medium text-black text-2xl;
  
  .emphasis {
    @apply text-theme-primary;
  }
}

.has-transition {
  @apply transition duration-500;
}

.line-clamp-4 {
  display: -webkit-box;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.line-clamp-2 {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

@mixin flex-gap($size) {
  --gap: calc(0.0625rem * #{$size});

  margin: calc(-1 * var(--gap));
  overflow: hidden;
  & > * {
    margin: var(--gap);
  }
}

.flex-gap-16 {
  @include flex-gap(16);
}

.flex-gap-10 {
  @include flex-gap(10);
}

.flex-gap-8 {
  @include flex-gap(8);
}

.flex-gap-6 {
  @include flex-gap(6);
}

.flex-gap-4 {
  @include flex-gap(4);
}

.flex-gap-2 {
  @include flex-gap(2);
}
