$primary: #2186eb;

.vueperslides {
  .vueperslide {
    background-size: contain;
    background-repeat: no-repeat;
    height: auto;

    img {
      @apply bg-white shadow-lg rounded-lg;
    }
  }

  &:not(.vueperslides--slide-multiple) {
    .vueperslide {
      transform: scale(0.9);
      transition: 0.3s ease-in-out;
    }

    .vueperslide--active {
      transform: scale(1);
    }
  }
}

.vueperslides__arrows--outside {
  color: $primary;
}

.vueperslides__bullets--outside .vueperslides__bullet {
  .default {
    border-color: $primary;
  }

&--active .default {
    background-color: $primary;
  }
}
